<p>haz click en algun continente y observa la magia</p>
<h1 *ngFor="let c of continents" (click)="getPaises(c)">
  {{ c.toUpperCase() }}
</h1>
<div class="container" *ngIf="!hayPaisSeleccionado">
  <div *ngFor="let pais of paises; index as i" class="container__country">
    <h3>{{ pais.name.official }}</h3>
    <img
      [src]="pais.flags.png"
      [alt]="pais.name.common"
      title="{{ pais.name.common }}"
    />
    <button (click)="getPais(i)" type="button">See more on console</button>
  </div>
</div>
<div class="details" *ngIf="hayPaisSeleccionado">
  <h2>Official name: {{ paisSeleccionado.name.official }}</h2>
  <div class="image_center">
    <img
      [src]="paisSeleccionado.flags.png"
      [alt]="paisSeleccionado.name.common"
      title="{{ paisSeleccionado.name.common }}"
    />
  </div>
  <p>Common name:{{ paisSeleccionado.name.common }}</p>
  <p>Area: {{ paisSeleccionado.area }}</p>
  <p>Region: {{ paisSeleccionado.region }}</p>
  <p>Status: {{ paisSeleccionado.status }}</p>
  <p>Population: {{ paisSeleccionado.population }}</p>
</div>
